@font-face {
  font-family: "CalibreWeb";
  src: url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.eot");
  src: url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/4a0c1d6164df2c0aa88da1437cd38ef1.svg#Copyright Klim Type Foundry")
      format("svg");
}
body {
  align-items: center;
  background-color: #22304f;
  color: #fff;
  font-family: "CalibreWeb";
  height: 100%;
  min-height: 100vh;
}
